{{ template "header" }}
{{template "modal-tweet-css"}}
{{ template "header2" . }}

<main>
    {{ if .FollowingUser }}
    {{ else }}
    <a class="follow" href="/api/follow/{{ .ViewingUser.UserName }}">Follow</a>
    {{ end }}
    <table>
        <tr>
            <td><strong>Username</strong></td>
            <td>{{ .ViewingUser.UserName }}</td>
        </tr>
        <tr>
            <td><strong>Following</strong></td>
            <td>
                <ul>
                    {{ range .ViewingUser.Following }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </td>
        </tr>
        <tr>
            <td><strong>Followed By</strong></td>
            <td>
                <ul>
                    {{ range .ViewingUser.FollowedBy }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </td>
        </tr>
    </table>
</main> 


{{ template "footer" }}