/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background-color: #F2F2F2;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Handlee, cursive; /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: normal;
  color: #333;
}


/*
 * Navbar
 */

.blog-masthead {
  background-color: #282828; /*#428bca;*/
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}


/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-size: large;
  font-weight: 500;
  color: white;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #AEAEAE;
  text-decoration: none;
}
a.login, a.signup {
  font-size: medium;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
