{{ template "header" . }}

	<div class="container form-signup">

		<form class="form-signup" id="form-edit-profile" action="/api/editProfile" method="post">
			<h2 class="form-signup-heading">Edit your profile</h2>
			
			<label for="name" class="sr-only">Name</label>
			<input type="text" name="name" id="name" class="form-control" value="{{ .Name }}" required autofocus>
			
			<label for="email" class="sr-only">Email address</label>
			<input type="email" name="email" id="email" class="form-control" value="{{ .Email }}" required autofocus>
			<p class="form-field-err" id="email-err"></p>
			
			<label for="about" class="sr-only">About</label>
			<textarea id="about" name="about" class="form-control" autofocus>{{ .About }}</textarea>
			
			<label for="image" class="sr-only">Profile Picture</label>
			<input type="url" name="image" id="image" class="form-control" value="{{ .Image }}" autofocus>
			
			<button class="btn btn-lg btn-success btn-block" type="submit" id="btn-edit-profile">Save</button>
		</form>

	</div>
	
	<div class="container form-signup">
		<form class="form-signup" id="form-change-password" action="/api/editPassword" method="post">
			<h2 class="form-signup-heading">Change your password</h2>
			<p class="form-field-err" id="form-err-password"></p>
			
			<label for="password" class="sr-only">Password</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="Old Password" required>
			
			<label for="password1" class="sr-only">New Password</label>
			<input type="password" name="password1" id="password1" class="form-control" placeholder="New Password" required>
			
			<label for="password2" class="sr-only">Re-enter New Password</label>
			<input type="password" name="password2" id="password2" class="form-control" placeholder="New Password" required>
			<p class="form-field-err" id="password-err"></p>
	
			<button class="btn btn-lg btn-success btn-block" type="submit" id="btn-change-password">Submit</button>
		</form>
	</div>
    <script>
        var formPassword = document.querySelector('#form-change-password');
        var p1 = document.querySelector('#password1');
        var p2 = document.querySelector('#password2');
        var btnPassword = document.querySelector('#btn-change-password');
        var pErr = document.querySelector('#password-err');
        var formErrPassword = document.querySelector("#form-err-password");
        
        // listen for submit button click
        formPassword.addEventListener('submit', function(e){
            //check passwords the same
            var ok = validatePasswords();
            if (!ok) {
                e.preventDefault();
                formErr.textContent = "There was an error submitting the form.";
                document.getElementById("form-err").style.display = "block";
                return;
            }
            formErr.textContent = "";
        });
        
        
		// Validate passwords
        function validatePasswords() {
            pErr.textContent = '';
            if (p1.value === '') {
                pErr.textContent = 'Enter a password.';
                document.getElementById("password-err").style.display = "block";
                return false;
            }
            if (p1.value !== p2.value) {
                pErr.textContent = 'Your passwords did not match. Please re-enter your password.';
                document.getElementById("password-err").style.display = "block";
                p1.value = '';
                p2.value = '';
                return false;
            }
            document.getElementById("password-err").style.display = "none";
            return true;
        };
    </script>
{{ template "footer" }}
