{{ define "user-profile" }}
<table class="user-profile table">
	<tr>
		<td><strong>Username</strong></td>
		<td>sgkadle</td>
	</tr>
	<tr>
		<td><strong>Name</strong></td>
		<td>Sai Kadle</td>
	</tr>
	<tr>
		<td><strong>Email</strong></td>
		<td>sgkadle@gmail.com</td>
	</tr>
	<tr>
		<td><strong>About</strong></td>
		<td>Just for Test</td>
	</tr>
	<tr>
		<td><strong>Stories</strong></td>
		<td>
			<ul>
				<li><a href="/view" class="blog-link">Story 1</a></li>
				<li><a href="/view" class="blog-link">Story 2</a></li>
				<li><a href="/view" class="blog-link">Story 3</a></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Contributing to</strong></td>
		<td>
			<ul>
				<li><a href="/view" class="blog-link">Story 1</a></li>
				<li><a href="/view" class="blog-link">Story 2</a></li>
				<li><a href="/view" class="blog-link">Story 3</a></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Member Since</strong></td>
		<td>December 01, 2015</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
</table>
{{ end }}


{{ define "user-picture" }}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset no-background">
		<h3>Profile Picture</h3>
		<img src="http://www.thinkstockphotos.com/CMS/StaticContent/Hero/TS_AnonHP_462882495_01.jpg" class="profile-pic-large" />
	</div>
</div>
{{ end }}


{{ define "user-thumbnail" }}
<div class="user-picture-thumbnail">
	<img src="http://www.thinkstockphotos.com/CMS/StaticContent/Hero/TS_AnonHP_462882495_01.jpg" class="profile-pic-small" />	
</div>
{{ end }}


{{ define "about" }}
<a class="author-link" href="/profile">
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<div class="sidebar-module sidebar-module-inset">
			<div class="user-picture-thumbnail margin-bottom">
				<img src="http://www.thinkstockphotos.com/CMS/StaticContent/Hero/TS_AnonHP_462882495_01.jpg" class="profile-pic-small" />	
			</div>
			<h4 class="about">About the Owner</h4>
			<h5>Owner Name</h5>
			<p>Testing again....Blah Blah</p>
		</div>
	</div>
</a>
{{ end }}