{{ template "header" . }}
   
<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">New Scene</h1>
  </div>

  <div class="row">
    <form action="/api/scene" method="post" class="scene-form">
      <!--<label for="story"><strong>Story</strong></label>-->
      <select name="story">
        <option value="story1">Story 1</option>
        <option value="story2">Story 2</option>
        <option value="story3">Story 3</option>
      </select>
      <input type="text" name="scene" placeholder="Scene Name">
      <textarea class="form-control" name="scene"></textarea>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>	
  </div>

</div>

{{ template "footer" }}

<!--Use class "active" to change pointer on navbar-->
<script>
  document.getElementById("newScene").setAttribute("class", "active blog-nav-item");
</script>